.flex-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
}

body {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: green;

  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  margin: 8px 2px;
  text-align: center;
  font-size: 16px;
}
button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
  list-style-type: none;
  margin-top: 30px;
}

li {
  margin: 20px;
  text-align: left;
  font-size: 21px;
}
